* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Header*/

header {
    display: flex;
    flex-direction: column;

    background-color:lightseagreen;

    border: 2px solid black;
    padding: 20px;
}


/*Navigation*/

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: black;
    padding: 5px;
}


/*Bio*/

.bio-hero {
    flex-basis: 100%;

    background-color:cornflowerblue;

    border: 2px solid black;
    padding: 20px;
}


/*Card Containers*/

.card-grid {
    display: flex;
    flex-direction: column;

    background-color:aquamarine;

    padding: 20px;
}


/*Cards*/

.card {
    flex-basis: 100%;

    background-color:azure;

    border: 3px solid black;

    padding: 20px;
    margin-bottom: 20px;
}


/*Card Hover*/

.card:hover {
    background-color: lightblue;
    border: 3px solid black;
}


/*Footer*/

footer {
    background-color: lightgreen;

    border: 2px solid black;

    padding: 20px;
}


/*Desktop*/

@media (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }


    nav {
        flex-direction: row;
    }


    .card-grid {
        flex-direction: row;
        justify-content: space-between;
    }


    .card {
        flex-basis: 30%;
        margin-bottom: 0;
    }

}