* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
}

.bio-hero {
    flex-basis: 100%;
}

.card-grid {
    display: flex;
    flex-direction: column;
}

.card {
    flex-basis: 100%;
}

.card:hover {
    border: 1px solid blueviolet;
}

@media (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        flex-direction: row;
    }

    .card-grid {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        flex-basis: 30%;
    }

}